canvas {
   display: block;
   margin: 10px auto;
   max-width: 70vw;
   background-color: white;
}

#container {
   display: flex;
   width: 100vw;
   height: 100vh;
}

#controls {
   padding: 15px;
   width: 40vw;
   height: 100vh;
   overflow-y: scroll;
}

.controlsContainer {
   border: 2px solid #ddd;
   padding: 15px;
   border-radius: 15px;
   margin-bottom: 15px;
}
